@page "/transactions"
@rendermode InteractiveServer
@using System.Globalization
@using BlazorBootstrap
@using PersonalFinanceTracker.Data.Models

<h3> My Transactions</h3>

@if (transactions == null)
{
    <p>Loading...</p>
}
else if (transactions.Count() == 0)
{
    <p>No transactions found.</p>
}
else
{
    <Grid TItem="Transaction"
          Class="table table-hover"
          DataProvider="TransactionDataProvider"
          AllowSorting="true"
          AllowPaging="true"
          PageSize="5"
          Responsive="true">
        <GridColumns>
            <GridColumn TItem="Transaction" HeaderText="Id" PropertyName="Id">
                @context.Id
            </GridColumn>
            <GridColumn TItem="Transaction" HeaderText="Date" PropertyName="Date" SortKeySelector="item => item.Date">
                @context.Date?.ToString("dd-MMM-yyyy")
            </GridColumn>
            <GridColumn TItem="Transaction" HeaderText="Amount" PropertyName="Amount" SortKeySelector="item => item.Amount">
                @context.Amount.ToString("C", CultureInfo.GetCultureInfo("en-CA"))
            </GridColumn>
            <GridColumn TItem="Transaction" HeaderText="Category" PropertyName="Category">
                @context.Category?.Name
            </GridColumn>
            <GridColumn TItem="Transaction" HeaderText="Description" PropertyName="Description">
                @context.Description
            </GridColumn>
        </GridColumns>
    </Grid>   
}


